<!--
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Login Customer</title>
</head>
<body>


<div>
    <form action="/" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <input type="submit" value="LogOut"/>
    </form>
</div>



<div class="container">
    <form class="form-signin" method="post" action="${contextPath}">
        <h2 class="form-signin-heading">Login</h2>
        <p>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required>
        </p>
        <p>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>
<a href="/registration">Registration</a>
</body>
</html>-->


<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Authorisation Page</title>
</head>

<body>
<div class="container">
    <form th:action="@{/login}" method="POST" class="form-signing">
        <h3 class="form-signing-heading" th:text="Welcome"></h3>
        <br/>

        <input type="text" id="user_name" name="user_name" th:placeholder="UserName"
               class="form-control"/>
        <br/>

        <input type="password" th:placeholder="Password"
               id="password" name="password" class="form-control"/>
        <br/>

        <div align="center" th:if="${param.error}">
            <p>User Name or Password invalid, please verify</p>
        </div>

        <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit"
                th:text="Submit">
        </button>
    </form>
</div>

<form th:action="@{/registration}" method="get">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Register</button>
</form>
</body>
</html>
